{% extends 'main/base.html' %}
{% load my_tags %}
{% block content %}

<div class="jumbotron">
    <h2>Статистика сервиса рассылок</h2>
    <p class="lead">Количество рассылок всего:  {{mail_count}}</p>
    <p class="lead">Количество активных рассылок: {{active_mail_count}}</p>
    <p class="lead">Количество уникальных клиентов для рассылок: {{client_count}}</p>

<!--        <p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>-->
</div>


<div class="row">
    {% for object in object_list %}
    {% include 'mails/includes/inc_blog.html' with object=object %}
    {% endfor %}
</div>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% for object in random_blogs %}
            <div class="col-4">
                <div class="card shadow-sm">
                    <img src="{{ object.image | media_filter }}">
                    <div class="card-body">
                        <p class="card-text">
                        <h2>{{ object.title}}</h2>
                        <p class="card-text">Содержание: {{ object.body }}</p>
                        <p class="card-text"> Создана {{ object.created_at }}</p>
                        <p class="card-text">Просмотры- {{ object.views_count }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}