{% extends 'catalog/base.html' %}
{% block content %}
    <div class="col-12 mb-5">
        <a class="btn btn-outline-primary" href="{% url 'blogs:create' %}">Добавить статью</a>
    </div>
    {% for object in object_list %}
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <img src="/media/{{object.image}}" style="object-fit: cover; width: 100%; height: 50%"/>
                    <p class="card-text">
                        {{object|title}}

                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="{% url 'blogs:view' object.pk %}"
                                       class="btn btn-sm btn-outline-secondary">Просмотр</a>
                            <a href="{% url 'blogs:edit' object.pk %}"
                                       class="btn btn-sm btn-outline-secondary">Рeдактировать</a>
                            <a href="{% url 'blogs:delete' object.pk %}"
                                       class="btn btn-sm btn-outline-danger">Удалить</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endfor %}
{% endblock %}

