{% extends 'main/base.html' %}
{% block content %}
    {% for object in object_list %}
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">

            <div class="card-body">
                <p class="card-text">
                    <img src="/media/{{object.avatar}}" style="object-fit: cover; width: 100%; height: 50%"/>
                    {% if object.is_active %}
                    {{object|title}}
                    {%else%}

                    <span class="text-muted">{{object|title}}</span>

                    {%endif%}
                </p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a class="btn btn-primary" href="{% url 'main:view_student' object.pk %}"
                                   role="button">Просмотр</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}

