{% extends 'main/base.html' %}
{% block content %}
<div class="col-12 mb-5">
    {% if perms.main.add_student %}
        <a class="btn btn-outline-primary" href="{% url 'main:create_student' %}">Добавить студента</a>
    {% endif %}
</div>
{% for object in object_list %}
<div class="col-md-4">
    <div class="card mb-4 box-shadow">

        <div class="card-body">
            <p class="card-text">
                <img src="/media/{{object.avatar}}" style="object-fit: cover; width: 100%; height: 50%"/>
                {% if object.is_active %}
                {{object|title}}
                {%else%}

                <span class="text-muted">{{object|title}}</span>

                {%endif%}
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a class="btn btn-outline-primary" href="{% url 'main:view_student' object.pk %}"
                       role="button">Просмотр</a>
                    {% if perms.main.change_student %}
                        <a class="btn btn-outline-primary" href="{% url 'main:update_student' object.pk %}"
                       role="button">Редактировать</a>
                    {% endif %}
                    {% if user.is_superuser %}
                        <a class="btn btn-outline-primary" href="{% url 'main:delete_student' object.pk %}"
                       role="button">Удалить</a>
                    {% endif %}
                </div>
            </div>

            <div class="d-flex justify-content-between align-items-center">

                {% if object.is_active %}
                <a class="btn btn-warning" href="{% url 'main:toggle_activity' object.pk%}">Деактивировать</a>
                {% else %}
                <a class="btn btn-success" href="{% url 'main:toggle_activity' object.pk%}">Aктивировать</a>
                {%endif%}
            </div>
<!--            </div>-->
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}

