{% extends 'main/base.html'%}
{% block content %}
<div class="col-6">
       <img src="/media/{{object.avatar}}" style="object-fit: cover; width: 100%; height: 100%"/>
    </div>
<div class="card" style="width: 18rem;">

    <div class="card-body">
        <p class="card-text">Имя:{{ object.first_name }}</p>
        <p class="card-text">Фамилия:{{ object.last_name }}</p>
        <p class="card-text">Учится:{{ object.is_active }}</p>

        <div class="btn-group">
                        <a class="btn btn-primary" href="{% url 'main:index'%}"
                                   role="button">Назад</a>

        </div>
    </div>

</div>
{% endblock %}